html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body, #root {
  height: 100vh;
  margin: 0;
}

body, input, select, textarea {
  font-size: 1.6rem;
  font-family: 'Lexend Deca';
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

a:hover {
  color: hsl(0, 63%, 53%);
}

header {
  grid-area: header;
  background-color: hsl(244, 100%, 9%);
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

header a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: hsl(244, 100%, 9%);
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}